body {
  background-color: grey;
  color: #343a40;
  font-family: 'Arial', sans-serif; 
  background-image:url(body.jpg); 
}

h1 {
  font-size: 2.5rem;
  color: black, solid;
  text-align: center;
  background-color: grey;
  margin: 3%;
  border-radius: 15px;
  opacity: 0.8;
}

.carousel-container {
  max-width: 600px; /* Ajusta el ancho del carrusel según tu preferencia */
  margin: 0 auto;
}

.carousel-item img {
  max-height: 300px; /* Ajusta la altura del carrusel según tu preferencia */
  object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  opacity: 0.8;
  background-color: transparent;
}

td {
  min-width: 33.33%;
  min-height: 33.33%;
  padding-top: 33.33%; /* Mantiene la proporción cuadrada */
  border: 10px solid transparent;
  font-weight: 600;
  color: blue;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 25px;
}

.modal-content {
  background-color: lightblue;
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.divgeneral{
  display: flex;
  justify-content: center;
}

.divderecha{
  width: 35%;
  height: 35%;
  margin: 2.5%;
}



.divizq{
width: 30%;
height: 100%;
background-color: grey;
border-radius: 15px;
margin: 3%;
justify-content: center;
opacity: 0.8;
}

tr{
  background-color: grey;
  opacity: 0.8;
  border-radius: 20px;
}
