
body {
  background-color: grey;
  color: black;
  font-family: 'Arial', sans-serif; 
  background-image:url(body.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  background-color: grey;
  margin: 3%;
  border-radius: 15px;
  opacity: 0.8;
}

.carousel-container {
  max-width: 600px; /* Ajusta el ancho del carrusel según tu preferencia */
  margin: 0 auto;
}

.carousel-item img {
  max-height: 300px; /* Ajusta la altura del carrusel según tu preferencia */
  object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  opacity: 0.8;
  background-color: transparent;
}

td {
  min-width: 3rem;
  min-height: 3rem;
  padding: 3rem;
  border: 10px solid transparent;
  font-size: 100px;
  color: black ;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  align-content: center;
  margin: 2%;
  background-color: grey;
  opacity: 1;
}


.modal-content {
  background-color: lightblue;
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.divgeneral{
  display: flex;
  justify-content: center;
}

.divderecha{
  width: 35%;
  height: 35%;
  margin: 2.5%;
}



.divizq{
  width: 30%;
  height: 100%;
  background-color: grey;
  border-radius: 15px;
  margin: 3%;
  justify-content: center;
  opacity: 0.8;
}

tr{
  opacity: 0.8;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
